body {

    background-color: #222;
    margin: 30px;
}

input {
    margin: 0px !important;
    color: #999;
    display: block;
    border-radius: 99px !important;
    border: 3px solid #00FFF7;
    background-color: #222;"

}

h2 {
    color: white;
}

p {
    margin : 0px;
    margin-top: 10px;
    color: white;
}

button {

    border-radius: 99px !important;
    border: 0px !important;

}