body {

    background-color: #222;
    margin: 30px;
}

input {

    color: #aaa !important;
    display: block;
    border-radius: 0px 20px 20px 0px!important;
    border: 3px solid #00FFF7;
    background-color: #222 !important;

}

h2 {
    color: white;
}

p {

    color: white;
}

button {

    border-radius: 99px !important;
    border: 0px !important;

}

.input-group-addon {

    color: #779 !important;
    background-color: #112 !important;
    border-radius: 20px 0px 0px 20px !important;
}